@model KidsBooks.View_Models.BooksViewModel
@{
    ViewBag.title = "Edit";
}

<form asp-controller="Book" asp-action="Edit" method="post">
    <input hidden asp-for="@Model.book.Id" />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.book.Name"></label>
        <input asp-for="@Model.book.Name" class="form-control col-sm-8" />
        <span asp-validation-for="@Model.book.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="book.Author"></label>
        <input asp-for="book.Author" class="form-control col-sm-8" />
    </div>

    <div class="form-group">
        <label asp-for="book.CategoryId"></label>
        <select asp-for="book.CategoryId" asp-items="@(new SelectList(Model.category,"Id","Name"))"
                class="form-control col-sm-8"></select>
    </div>

    <div class="form-group">
        <label asp-for="book.Lang"></label>
        <select asp-for="book.Lang" class="form-control col-sm-8" 
               asp-items="Html.GetEnumSelectList<Languages>()"></select>
    </div>

    <div class="form-group">
        <label asp-for="book.Publisher"></label>
        <input asp-for="book.Publisher" class="form-control col-sm-8" />
    </div>

    <div class="form-group">
        <label asp-for="book.Date_Published"></label>
        <input asp-for="book.Date_Published" class="form-control col-sm-8" id="datepicker1" />
    </div>

    <div class="form-group">
        <label asp-for="book.Description"></label>
        <textarea asp-for="book.Description" class="form-control col-sm-8"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-info btn-sm" type="submit">Update</button>
        <a asp-controller="Book" asp-action="Index" class="btn btn-info btn-sm">Cancel</a>
    </div>

</form>


