@model IEnumerable<KidsBooks.Models.Book>

@{ 
    ViewBag.Title = "List of Books";
}

<hr />

<div>
    <a class="btn btn-info" asp-controller="Book" asp-action="Create">Create</a>
</div>

<hr />
<h1>Books >>>> </h1>

<table class="table table-bordered table-hover table-sm">
    <thead class="table-info">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Publisher</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var Book in Model)
        {
            <tr>
                <td>@Book.Name</td>
                <td>@Book.Author</td>
                <td>@Book.Publisher</td>
                <td class="nav-justified">
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@Book.Id">Edit</a>
                    <a asp-controller="Book" asp-action="ViewBooks" asp-route-id="@Book.Id">View</a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@Book.Id">Delete</a>
                </td>
            </tr>
           
        }
    </tbody>

</table>  

<div></div>
